SECRET_KEY=change-me
JWT_SECRET_KEY=change-me
FLASK_ENV=development
DATABASE_URL=mysql+mysqlconnector://root:@localhost/homespace
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PUBLIC_BASE_URL=https://homespace.ng
MAIL_SERVER=
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=
